img {
    width: 100%;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body {
    background-color:goldenrod;
}
.jumbotron-fluid {
    background-color: goldenrod;
    margin-top: -63px;
}
.underscore {
    text-align: center;
    margin: auto;
    font-size: 60px;
    margin-top: -75px;
}
.correct {
    text-align: center;
    margin: auto;
    font-size: 20px; 
}
.wrong {
    text-align: center;
    margin: auto;
    font-size: 20px;
}
